/* Theme Style Dark */
body.theme-style--dark {
    color: var(--color-white);
    background-color: var(--color-dark);
}

.theme-style--dark h1, .theme-style--dark h2, .theme-style--dark h3, .theme-style--dark h4, .theme-style--dark h5, .theme-style--dark h6,
.theme-style--dark .h1, .theme-style--dark .h2, .theme-style--dark .h3, .theme-style--dark .h4, .theme-style--dark .h5, .theme-style--dark .h6{
    color: var(--color-white);
}

.theme-style--dark .wptb-heading .wptb-item--title {
    color: var(--color-white);
}

.theme-style--dark .wptb-heading .wptb-item--subtitle {
    color: var(--color-white);
}


.theme-style--dark .header .mainnav ul.main-menu li ul li a {
    color: var(--color-black);
}

.theme-style--dark .wptb-slider .wptb-heading .wptb-item--description {
    color: var(--color-white);
}


/* Theme Style One */
:root .theme-style--one {
    --link-color:               #181A0F;
    --link-color-hover:         #CDF683;
    --link-color-active:        #CDF683;
}

body.theme-style--one {
    color: var(--color-white);
    background-color: var(--color-light-green);
}

.theme-style--one .wptb-heading .wptb-item--title .highlight {
    color: #7A5AF8;
}

.theme-style--one .wptb-item--logo__style-circle,
.theme-style--one .wptb-item--logo__style-circle::before {
    background: none;
}

.theme-style--one .wptb-item--logo__style-circle .wptb-blob__wrap-focus {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.theme-style--one .wptb-imagebox--wrapper .wptb-imagebox--content {
    background-color: rgba(var(--color-white-rgb), 0.38);
    backdrop-filter: blur(20px);
}

.theme-style--one .wptb-image-box2 .wptb-item--inner {
    background: rgba(var(--color-white-rgb), 0.5);
}

.theme-style--one .wptb-funfacts--inner {
    background: var(--color-dark-two);
}

.theme-style--one .wptb-counter2 .wptb-item--icon {
    background-color: var(--color-green);
}

.theme-style--one .wptb-counter2 .wptb-item--icon svg path {
    fill: var(--color-black);
}

.theme-style--one .wptb-icon-box3.style2 .wptb-item--inner::before {
    background: #2B2D24;
}

.theme-style--one .wptb-icon-box3.style2 .wptb-item--inner::after{
    opacity: 0;
}
.theme-style--one .wptb-icon-box3.style2:hover .wptb-item--inner::before {
    opacity: 1;
}
.theme-style--one .wptb-icon-box3.style2:hover .wptb-item--inner::after {
    opacity: 0;
}

.theme-style--one .wptb-icon-box3.style2 .wptb-item--title {
    color: var(--color-white);
}

.theme-style--one .footer.style2 {
    background-color: var(--color-dark-two);
    padding-top: 200px;
}
.theme-style--one .footer.style2 .wptb-item-layer-one {
    left: 220px;
}

.theme-style--one .wptb-newsletter::before, .theme-style--one .wptb-newsletter::after {
    content: url('../img/misc/flare-green-5.svg');
}

.theme-style--one .footer.style2 .effective.full {
    top: -1px;
}


.theme-style--one .effective.full .wptb-item--logo__style-circle .wptb-item--logo__image {
    margin: 0px auto -70px;
    z-index: 2;
}


/* Theme Style Two */
:root .theme-style--two {
    --link-color:               #FFFFFF;
    --link-color-hover:         #1F4CFF;
    --link-color-active:        #1F4CFF;
}

.theme-style--two .wptb-heading .wptb-item--subtitle {
    color: var(--color-white);
}

.theme-style--two .wptb-heading .wptb-item--subtitle::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 36px;
    border-radius: 30px;
    background: -webkit-linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(0, 2, 18, 0) 100%);
    background: -moz-linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(0, 2, 18, 0) 100%);
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(0, 2, 18, 0) 100%);
    z-index: -1;
    animation: wptb_opacity 3s ease-in-out 0.5s infinite;
}

.theme-style--two .wptb-heading .wptb-item--subtitle span {
    background: #2A2C3C;
}


/* Theme Style Three */
:root .theme-style--three.theme-style--dark {
    --link-color:               #FFFFFF;
    --link-color-hover:         #FFFFFF;
    --link-color-active:        #FFFFFF;
}

body.theme-style--three.theme-style--dark {
    color: var(--color-white);
    background-color: var(--color-dark-three);
}

.theme-style--three .wptb-slider.style3 .wptb-image-single .wptb-item--inner {
    background-color: #3521A8;
}

.theme-style--three.theme-style--dark .wptb-slider.style3 .wptb-image-single .wptb-item--inner {
    background-color: transparent;
}

.theme-style--three .wptb-slider.style3 .wptb-item-layer {
    background: -webkit-linear-gradient(177deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(177deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(177deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    height: 485px;
}

.theme-style--three.theme-style--dark .wptb-slider.style3 .wptb-item-layer {
    background: -webkit-linear-gradient(177deg,rgba(8, 19, 54, 0) 0%, rgba(8, 19, 54, 1) 100%);
    background: -moz-linear-gradient(177deg,rgba(8, 19, 54, 0) 0%, rgba(8, 19, 54, 1) 100%);
    background: linear-gradient(177deg,rgba(8, 19, 54, 0) 0%, rgba(8, 19, 54, 1) 100%);
    height: 50%;
}

.theme-style--three .wptb-heading .wptb-item--subtitle {
    color: var(--color-white);
    background: #00FFAE;
    background: -webkit-linear-gradient(90deg, rgba(0, 255, 174, 1) 0%, rgba(0, 192, 255, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(0, 255, 174, 1) 0%, rgba(0, 192, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(0, 255, 174, 1) 0%, rgba(0, 192, 255, 1) 100%);
    position: relative;
}

.theme-style--three .wptb-heading .wptb-item--description {
    color: var(--color-dark-four);
    font-weight: var(--fw-normal);
}
.theme-style--three.theme-style--dark .wptb-heading .wptb-item--description {
    color: var(--color-white);
    font-weight: var(--fw-normal);
}

.theme-style--three .wptb-heading .wptb-item--subtitle span {
    background: #06454F;
}

.theme-style--three .wptb-funfacts {
    overflow: hidden;
}

.theme-style--three .wptb-testimonial-marquee-wrapper::before {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.theme-style--three .wptb-testimonial-marquee-wrapper::after {
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.theme-style--three.theme-style--dark .wptb-testimonial-marquee-wrapper::before {
    background: linear-gradient(180deg, #081336 0%, rgba(8, 19, 54, 0) 100%);
}

.theme-style--three.theme-style--dark .wptb-testimonial-marquee-wrapper::after {
    background: linear-gradient(0deg, #081336 0%, rgba(8, 19, 54, 0) 100%);
}

.theme-style--three .wptb-feature-box .wptb-feature-box--title {
    color: var(--color-white);
}

.theme-style--three .wptb-feature-box.style2 {
    position: relative;
    background: var(--color-white);
    border: 1px solid #CBD5E1;
    backdrop-filter: blur(20px);
    box-shadow: 0px 54px 99px 0px rgb(52, 78, 170, 0.07);
}

.theme-style--three .wptb-feature-box.style2 .wptb-feature-box--title {
    color: #000C60;
}
.theme-style--three .wptb-feature-box.style2 .wptb-feature-box--description {
    color: var(--color-dark-four);
}

.theme-style--three .wptb-feature-box--5 {
    background: -webkit-linear-gradient(180deg,rgba(0, 57, 206, 1) 0%, rgba(64, 98, 188, 1) 100%);
    background: -moz-linear-gradient(180deg,rgba(0, 57, 206, 1) 0%, rgba(64, 98, 188, 1) 100%);
    background: linear-gradient(180deg,rgba(0, 57, 206, 1) 0%, rgba(64, 98, 188, 1) 100%);
}

.theme-style--three .wptb-feature-box--6 {
    background: -webkit-linear-gradient(180deg,rgba(0, 102, 219, 1) 0%, rgba(0, 200, 255, 1) 100%);
    background: -moz-linear-gradient(180deg,rgba(0, 102, 219, 1) 0%, rgba(0, 200, 255, 1) 100%);
    background: linear-gradient(180deg,rgba(0, 102, 219, 1) 0%, rgba(0, 200, 255, 1) 100%);
}

.theme-style--three .wptb-feature-box--7 {
    background: -webkit-linear-gradient(180deg,rgba(32, 0, 213, 1) 0%, rgba(80, 61, 255, 1) 100%);
    background: -moz-linear-gradient(180deg,rgba(32, 0, 213, 1) 0%, rgba(80, 61, 255, 1) 100%);
    background: linear-gradient(180deg,rgba(32, 0, 213, 1) 0%, rgba(80, 61, 255, 1) 100%);
}

.theme-style--three .wptb-features .wptb-features--inner {
    background: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(0deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(20px);
    box-shadow: 0px 54px 99px 0px rgb(52, 78, 170, 0.07);
}

.theme-style--three.theme-style--dark .wptb-features .wptb-features--inner {
    background: -webkit-linear-gradient(0deg,rgba(25, 36, 80, 1) 0%, rgba(36, 39, 172, 0) 100%);
    background: -moz-linear-gradient(0deg,rgba(25, 36, 80, 1) 0%, rgba(36, 39, 172, 0) 100%);
    background: linear-gradient(0deg,rgba(25, 36, 80, 1) 0%, rgba(36, 39, 172, 0) 100%);
}

.theme-style--three.theme-style--dark .wptb-feature-box .wptb-feature-box--description {
    color: rgba(248, 248, 248, 0.7);
}

.theme-style--three .wptb-feature-box--9 {
    border-left: 1px solid #EBEBEE;
    border-right: 1px solid #EBEBEE;
}

.theme-style--three .wptb-icon-box3.style2.alt .wptb-item--inner::before {
    background: transparent;
    background: transparent;
}

.theme-style--three .wptb-icon-box3.style2.alt .wptb-item--inner::after {
    background: transparent;
    background: transparent;
}

.theme-style--three.theme-style--dark .wptb-icon-box3.style2.alt .wptb-item--inner::before {
    background: #362168;
    background: radial-gradient(circle, rgba(54, 33, 104, 0.84) 0%, rgba(72, 72, 123, 0.34) 100%);
}

.theme-style--three.theme-style--dark .wptb-icon-box3.style2.alt .wptb-item--inner::after {
    background: #210A57;
    background: radial-gradient(circle, rgba(33, 10, 87, 0.84) 0%, rgba(35, 35, 63, 0.66) 100%);
}


.theme-style--three .wptb-working-process.two .wptb-working-process--inner {
    background: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(0deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(20px);
    box-shadow: 0px 54px 99px 0px rgb(52, 78, 170, 0.07);
    padding-bottom: 190px;
}

.theme-style--three.theme-style--dark .wptb-working-process.two .wptb-working-process--inner {
    background: -webkit-linear-gradient(180deg,rgba(25, 36, 80, 1) 0%, rgba(36, 39, 172, 0) 100%);
    background: -moz-linear-gradient(180deg,rgba(25, 36, 80, 1) 0%, rgba(36, 39, 172, 0) 100%);
    background: linear-gradient(180deg,rgba(25, 36, 80, 1) 0%, rgba(36, 39, 172, 0) 100%);
    backdrop-filter: blur(7px);
    box-shadow: none;
}