/* Theme Style Dark */
body.theme-style--dark {
    color: var(--color-white);
    background-color: var(--color-dark);
}

.theme-style--dark h1, .theme-style--dark h2, .theme-style--dark h3, .theme-style--dark h4, .theme-style--dark h5, .theme-style--dark h6,
.theme-style--dark .h1, .theme-style--dark .h2, .theme-style--dark .h3, .theme-style--dark .h4, .theme-style--dark .h5, .theme-style--dark .h6{
    color: var(--color-white);
}

.theme-style--dark .wptb-heading .wptb-item--title {
    color: var(--color-white);
}

.theme-style--dark .wptb-heading .wptb-item--subtitle {
    color: var(--color-white);
}

.theme-style--dark .wptb-slider .wptb-heading .wptb-item--description {
    color: var(--color-white);
}


/* Theme Style One */
:root .theme-style--one {
    --link-color:               #181A0F;
    --link-color-hover:         #CDF683;
    --link-color-active:        #CDF683;
}

body.theme-style--one {
    color: var(--color-white);
    background-color: var(--color-light-green);
}

.theme-style--one .wptb-heading .wptb-item--title .highlight {
    color: #7A5AF8;
}

.theme-style--one .wptb-item--logo__style-circle,
.theme-style--one .wptb-item--logo__style-circle::before {
    background: none;
}

.theme-style--one .wptb-item--logo__style-circle .wptb-blob__wrap-focus {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.theme-style--one .wptb-imagebox--wrapper .wptb-imagebox--content {
    background-color: rgba(var(--color-white-rgb), 0.38);
    backdrop-filter: blur(20px);
}

.theme-style--one .wptb-image-box2 .wptb-item--inner {
    background: rgba(var(--color-white-rgb), 0.5);
}

.theme-style--one .wptb-funfacts--inner {
    background: var(--color-dark-two);
}

.theme-style--one .wptb-counter2 .wptb-item--icon {
    background-color: var(--color-green);
}

.theme-style--one .wptb-counter2 .wptb-item--icon svg path {
    fill: var(--color-black);
}

.theme-style--one .wptb-icon-box3.style2 .wptb-item--inner::before {
    background: #2B2D24;
}

.theme-style--one .wptb-icon-box3.style2 .wptb-item--inner::after{
    opacity: 0;
}
.theme-style--one .wptb-icon-box3.style2:hover .wptb-item--inner::before {
    opacity: 1;
}
.theme-style--one .wptb-icon-box3.style2:hover .wptb-item--inner::after {
    opacity: 0;
}

.theme-style--one .wptb-icon-box3.style2 .wptb-item--title {
    color: var(--color-white);
}

.theme-style--one .footer.style2 {
    background-color: var(--color-dark-two);
    padding-top: 200px;
}
.theme-style--one .footer.style2 .wptb-item-layer-one {
    left: 220px;
}

.theme-style--one .wptb-newsletter::before, .theme-style--one .wptb-newsletter::after {
    content: url('../img/misc/flare-green-5.svg');
}

.theme-style--one .footer.style2 .effective.full {
    top: -1px;
}


.theme-style--one .effective.full .wptb-item--logo__style-circle .wptb-item--logo__image {
    margin: 0px auto -70px;
    z-index: 2;
}


/* Theme Style Two */
:root .theme-style--two {
    --link-color:               #FFFFFF;
    --link-color-hover:         #1F4CFF;
    --link-color-active:        #1F4CFF;
}

.theme-style--two .header .mainnav ul.main-menu li.current > a, .theme-style--two .header .mainnav ul.main-menu li.active > a, .theme-style--two .header .mainnav ul.main-menu li:hover > a {
    color: #7A5AF8;
}

.theme-style--two .header .mainnav ul.main-menu li ul li a {
    color: var(--color-dark);
}


.theme-style--two .wptb-heading .wptb-item--subtitle {
    color: var(--color-white);
}

.theme-style--two .wptb-heading .wptb-item--subtitle::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 36px;
    border-radius: 30px;
    background: -webkit-linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(0, 2, 18, 0) 100%);
    background: -moz-linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(0, 2, 18, 0) 100%);
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(0, 2, 18, 0) 100%);
    z-index: -1;
    animation: wptb_opacity 3s ease-in-out 0.5s infinite;
}

.theme-style--two .wptb-heading .wptb-item--subtitle span {
    background: #2A2C3C;
}


/* Theme Style Three */
.theme-style--three .wptb-testimonial-marquee-wrapper {
    position: relative;
    overflow: hidden;
    max-height: 830px;
    padding: 15px 15px 0px;
}

.theme-style--three .wptb-testimonial-marquee-wrapper::before,
.theme-style--three .wptb-testimonial-marquee-wrapper::after {
    content: '';
    position: absolute;
    z-index: 1;
    background-size: cover;
}

.theme-style--three .wptb-testimonial-marquee-wrapper::before {
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
}

.theme-style--three .wptb-testimonial-marquee-wrapper::after {
    height: 100px;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.theme-style--three .wptb-heading.md .wptb-item--title {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -2px;
}

.theme-style--three .wptb-feature-box {
    position: relative;
    backdrop-filter: blur(30px);
    border-radius: 32px;
    padding: 32px 0px 0px 32px;
    min-height: auto;
    height: 463px;
    overflow: hidden;
    background: rgba(var(--color-white-rgb), 0.5);
    border: 1px solid #CBD5E1;
    box-shadow: 0px 54px 99px 0px rgb(52, 78, 170, 0.07);
}

.theme-style--three .wptb-feature-box .wptb-feature-box--title {
    color: #000C60;
    margin-bottom: 20px;
}

.theme-style--three .wptb-feature-box .wptb-feature-box--description {
    color: var(--color-dark-four);
    font-size: 15px;
    line-height: 23px;
}

.theme-style--three .wptb-feature-box.wptb-feature-box--1 {
    padding: 32px 32px;
}

.theme-style--three .wptb-feature-box.wptb-feature-box--1 .wptb-feature-box--feature-type .loop-point {
    position: absolute;
    left: 28%;
    top: 35%;
    display: inline-block;
    animation: wptb_spin_y 10s linear infinite;
}

.theme-style--three .wptb-feature-box.wptb-feature-box--1 .wptb-feature-box--feature-type .loop-point::before {
    position: absolute;
    box-shadow: 0px 40px 30px -10px rgba(var(--color-black-rgb), 0.6);
}

.theme-style--three .wptb-feature-box--feature-type {
    position: relative;
    text-align: center;
}

.theme-style--three .wptb-feature-box--3 .wptb-feature-box--feature-type {
    margin-top: -100px;
    margin-left: -90px;
}

.theme-style--three .wptb-feature-box--4 .wptb-feature-box--feature-type {
    padding-left: 32px;
    margin-right: -20px;
}

.theme-style--three .wptb-feature-box--4 .wptb-feature-box--feature-type img {
    width: 100%;
}


.theme-style--three .wptb-feature-box--5,
.theme-style--three .wptb-feature-box--6,
.theme-style--three .wptb-feature-box--7 {
    min-height: auto;
    height: 478px;
    padding: 0px 0px;
    border-radius: 20px;
}

.theme-style--three .wptb-feature-box--5 .wptb-feature-box--top,
.theme-style--three .wptb-feature-box--6 .wptb-feature-box--top,
.theme-style--three .wptb-feature-box--7 .wptb-feature-box--top {
    padding: 32px 32px;
}

.theme-style--three .wptb-features {
    padding: 0px 30px;
}

.theme-style--three .wptb-features .wptb-features--inner {
    position: relative;
    padding: 160px 30px 160px;
    border-radius: 40px;
    background: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(0deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(20px);
    box-shadow: 0px 54px 99px 0px rgb(52, 78, 170, 0.07);
}

.theme-style--three .wptb-feature-box--8,
.theme-style--three .wptb-feature-box--9,
.theme-style--three .wptb-feature-box--10 {
    background: transparent;
    min-height: auto;
    height: 580px;
    padding: 55px 40px;
    border-radius: 0px;
}

.theme-style--three .wptb-feature-box--5 .wptb-feature-box--title,
.theme-style--three .wptb-feature-box--6 .wptb-feature-box--title,
.theme-style--three .wptb-feature-box--7 .wptb-feature-box--title,
.theme-style--three .wptb-feature-box--8 .wptb-feature-box--title,
.theme-style--three .wptb-feature-box--9 .wptb-feature-box--title,
.theme-style--three .wptb-feature-box--10 .wptb-feature-box--title {
    color: var(--color-white);
}
.theme-style--three .wptb-feature-box--5 .wptb-feature-box--description,
.theme-style--three .wptb-feature-box--6 .wptb-feature-box--description,
.theme-style--three .wptb-feature-box--7 .wptb-feature-box--description,
.theme-style--three .wptb-feature-box--8 .wptb-feature-box--description,
.theme-style--three .wptb-feature-box--9 .wptb-feature-box--description,
.theme-style--three .wptb-feature-box--10 .wptb-feature-box--description {
    color: var(--color-white);
}

.theme-style--three .wptb-feature-box--8 .wptb-feature-box--feature-type .image-two {
    position: absolute;
    top: 25%;
    right: 25px;
    animation: wptb_spin 30s linear infinite;
}

.theme-style--three .wptb-feature-box--7 .wptb-feature-box--inner {
    height: 75%;
}

.theme-style--three .wptb-feature-box--7 .wptb-feature-box--feature-type .layer-gradient {
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
}

.theme-style--three .wptb-feature-box--7 .wptb-feature-box--feature-type .imagebox {
    position: relative;
    margin-bottom: -93px;
}
.theme-style--three .wptb-feature-box--7 .wptb-feature-box--feature-type .imagebox-one {
    z-index: 4;
    animation-delay: 2s;
}
.theme-style--three .wptb-feature-box--7 .wptb-feature-box--feature-type .imagebox-two {
    z-index: 3;
    animation-delay: 3s;
}
.theme-style--three .wptb-feature-box--7 .wptb-feature-box--feature-type .imagebox-three {
    z-index: 2;
    animation-delay: 4s;
}
.theme-style--three .wptb-feature-box--7 .wptb-feature-box--feature-type .imagebox-four {
    z-index: 1;
    animation-delay: 5s;
}

.theme-style--three .wptb-feature-box--6 .wptb-feature-box--feature-type .imagebox {
    position: relative;
    margin-bottom: -10px;
}
.theme-style--three .wptb-feature-box--6 .wptb-feature-box--feature-type .imagebox-one {
    z-index: 1;
    animation-delay: 2s;
}
.theme-style--three .wptb-feature-box--6 .wptb-feature-box--feature-type .imagebox-two {
    z-index: 2;
    animation-delay: 3s;
}
.theme-style--three .wptb-feature-box--6 .wptb-feature-box--feature-type .imagebox-three {
    z-index: 3;
    animation-delay: 4s;
}

.theme-style--three .wptb-feature-box--5 .wptb-feature-box--feature-type .loop-point {
    position: absolute;
    left: 41%;
    top: 26%;
    display: inline-block;
    animation: wptb_spin_y 10s linear infinite;
}

.theme-style--three .wptb-feature-box--3 .wptb-feature-box--bottom {
    padding: 0px 60px 0px 28px;
}

.theme-style--three .wptb-services .wptb-item-layer {
    top: 0;
    bottom: auto;
    width: auto;
}

.theme-style--three .wptb-services .wptb-item-layer-one {
    left: 0;
    right: auto;
}

.theme-style--three .wptb-services .wptb-item-layer-two {
    left: auto;
    right: 0;
}

.theme-style--three .wptb-icon-box1 .wptb-item--inner {
    background-color: var(--color-white);
}

.theme-style--three .wptb-slider.style2 .wptb-image-single .wptb-item--inner {
    background-color: #3521A8;
}

.theme-style--three .wptb-slider.style2 .wptb-item-layer {
    background: -webkit-linear-gradient(177deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(177deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(177deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    height: 485px;
}

.theme-style--three .wptb-heading .wptb-item--subtitle {
    color: var(--color-white);
    background: #00FFAE;
    background: -webkit-linear-gradient(90deg, rgba(0, 255, 174, 1) 0%, rgba(0, 192, 255, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(0, 255, 174, 1) 0%, rgba(0, 192, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(0, 255, 174, 1) 0%, rgba(0, 192, 255, 1) 100%);
    position: relative;
}

.theme-style--three .wptb-heading .wptb-item--description {
    color: var(--color-dark-four);
    font-weight: var(--fw-normal);
}

.theme-style--three .wptb-heading .wptb-item--subtitle span {
    background: #06454F;
}

.theme-style--three .wptb-funfacts {
    overflow: hidden;
}

.theme-style--three .wptb-testimonial-marquee-wrapper::before {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.theme-style--three .wptb-testimonial-marquee-wrapper::after {
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.theme-style--three .wptb-feature-box--5 {
    background: -webkit-linear-gradient(180deg,rgba(0, 57, 206, 1) 0%, rgba(64, 98, 188, 1) 100%);
    background: -moz-linear-gradient(180deg,rgba(0, 57, 206, 1) 0%, rgba(64, 98, 188, 1) 100%);
    background: linear-gradient(180deg,rgba(0, 57, 206, 1) 0%, rgba(64, 98, 188, 1) 100%);
}

.theme-style--three .wptb-feature-box--6 {
    background: -webkit-linear-gradient(180deg,rgba(0, 102, 219, 1) 0%, rgba(0, 200, 255, 1) 100%);
    background: -moz-linear-gradient(180deg,rgba(0, 102, 219, 1) 0%, rgba(0, 200, 255, 1) 100%);
    background: linear-gradient(180deg,rgba(0, 102, 219, 1) 0%, rgba(0, 200, 255, 1) 100%);
}

.theme-style--three .wptb-feature-box--7 {
    background: -webkit-linear-gradient(180deg,rgba(32, 0, 213, 1) 0%, rgba(80, 61, 255, 1) 100%);
    background: -moz-linear-gradient(180deg,rgba(32, 0, 213, 1) 0%, rgba(80, 61, 255, 1) 100%);
    background: linear-gradient(180deg,rgba(32, 0, 213, 1) 0%, rgba(80, 61, 255, 1) 100%);
}

.theme-style--three .wptb-feature-box--9 {
    border-left: 1px solid #EBEBEE;
    border-right: 1px solid #EBEBEE;
}

.theme-style--three .wptb-icon-box3.style2 .wptb-item--inner {
    box-shadow: 0px 5px 55px 0px rgba(75, 83, 161, 0.15);
    backdrop-filter: blur(10px);
}
.theme-style--three .wptb-icon-box3.style2 .wptb-item--inner::before {
    background: rgba(var(--color-white-rgb), 0.26);
}

.theme-style--three .wptb-icon-box3.style2 .wptb-item--inner::after {
    background: #08218F;
    background: radial-gradient(circle,rgba(8, 33, 143, 1) 40%, rgba(41, 138, 203, 1) 100%);
}

.theme-style--three .wptb-icon-box3.style2 .wptb-item--icon {
    background-color: var(--color-white);
}

.theme-style--three .wptb-icon-box3.style2:hover .wptb-item--icon {
    background-color: rgba(var(--color-white-rgb), 0.32);
}

.theme-style--three .wptb-icon-box3.style2 .wptb-item--icon .step-number {
    -webkit-text-stroke-color: #000C60;
}

.theme-style--three .wptb-icon-box3.style2:hover .wptb-item--icon .step-number {
    -webkit-text-stroke-color: var(--color-white);
}

.theme-style--three .wptb-icon-box3.style2 .wptb-item--description {
    color: var(--color-dark-four);
}

.theme-style--three .wptb-icon-box3.style2:hover .wptb-item--title,
.theme-style--three .wptb-icon-box3.style2:hover .wptb-item--description {
    color: var(--color-white);
}

.theme-style--three .wptb-working-process.two .wptb-working-process--inner {
    background: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(0deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(20px);
    box-shadow: 0px 54px 99px 0px rgb(52, 78, 170, 0.07);
    padding-bottom: 190px;
}

/* Theme Style Three - Dark */
:root .theme-style--three.theme-style--dark {
    --link-color:               #FFFFFF;
    --link-color-hover:         #FFFFFF;
    --link-color-active:        #FFFFFF;
}

body.theme-style--three.theme-style--dark {
    color: var(--color-white);
    background-color: var(--color-dark-three);
}

.theme-style--three.theme-style--dark .wptb-slider.style2 .wptb-image-single .wptb-item--inner {
    background-color: transparent;
}

.theme-style--three.theme-style--dark .wptb-slider.style2 .wptb-item-layer {
    background: -webkit-linear-gradient(177deg,rgba(8, 19, 54, 0) 0%, rgba(8, 19, 54, 1) 100%);
    background: -moz-linear-gradient(177deg,rgba(8, 19, 54, 0) 0%, rgba(8, 19, 54, 1) 100%);
    background: linear-gradient(177deg,rgba(8, 19, 54, 0) 0%, rgba(8, 19, 54, 1) 100%);
    height: 50%;
}

.theme-style--three.theme-style--dark .wptb-heading .wptb-item--description {
    color: var(--color-white);
    font-weight: var(--fw-normal);
}

.theme-style--three.theme-style--dark .wptb-testimonial-marquee-wrapper::before {
    background: linear-gradient(180deg, #081336 0%, rgba(8, 19, 54, 0) 100%);
}

.theme-style--three.theme-style--dark .wptb-testimonial-marquee-wrapper::after {
    background: linear-gradient(0deg, #081336 0%, rgba(8, 19, 54, 0) 100%);
}

.theme-style--three.theme-style--dark .wptb-feature-box--1,
.theme-style--three.theme-style--dark .wptb-feature-box--2,
.theme-style--three.theme-style--dark .wptb-feature-box--3,
.theme-style--three.theme-style--dark .wptb-feature-box--4 {
    background: rgba(16, 29, 87, 0.7);
    border-color: transparent;
    box-shadow: 2px 4px 16px 0px rgba(248, 248, 248, 0.06) inset;
}

.theme-style--three.theme-style--dark .wptb-feature-box .wptb-feature-box--title {
    color: var(--color-white);
}

.theme-style--three.theme-style--dark .wptb-feature-box .wptb-feature-box--description {
    color: rgba(248, 248, 248, 0.7);
}

.theme-style--three.theme-style--dark .wptb-features .wptb-features--inner {
    background: -webkit-linear-gradient(0deg,rgba(25, 36, 80, 1) 0%, rgba(36, 39, 172, 0) 100%);
    background: -moz-linear-gradient(0deg,rgba(25, 36, 80, 1) 0%, rgba(36, 39, 172, 0) 100%);
    background: linear-gradient(0deg,rgba(25, 36, 80, 1) 0%, rgba(36, 39, 172, 0) 100%);
}

.theme-style--three.theme-style--dark .wptb-icon-box3.style2 .wptb-item--inner::before {
    background: #362168;
    background: radial-gradient(circle, rgba(54, 33, 104, 0.84) 0%, rgba(72, 72, 123, 0.34) 100%);
}

.theme-style--three.theme-style--dark .wptb-icon-box3.style2 .wptb-item--inner::after {
    background: #210A57;
    background: radial-gradient(circle, rgba(33, 10, 87, 0.84) 0%, rgba(35, 35, 63, 0.66) 100%);
}

.theme-style--three.theme-style--dark .wptb-icon-box3.style2 .wptb-item--icon {
    background-color: rgba(var(--color-white-rgb), 0.05);
}

.theme-style--three.theme-style--dark .wptb-icon-box3.style2 .wptb-item--icon .step-number {
    -webkit-text-stroke-color: var(--color-white);
}

.theme-style--three.theme-style--dark .wptb-icon-box3.style2 .wptb-item--description {
    color: rgba(var(--color-white-rgb), 0.7);
}

.theme-style--three.theme-style--dark .wptb-working-process.two .wptb-working-process--inner {
    background: -webkit-linear-gradient(180deg,rgba(25, 36, 80, 1) 0%, rgba(36, 39, 172, 0) 100%);
    background: -moz-linear-gradient(180deg,rgba(25, 36, 80, 1) 0%, rgba(36, 39, 172, 0) 100%);
    background: linear-gradient(180deg,rgba(25, 36, 80, 1) 0%, rgba(36, 39, 172, 0) 100%);
    backdrop-filter: blur(7px);
    box-shadow: none;
}

.theme-style--three.theme-style--dark .wptb-country-marquee-wrapper::before {
    background: linear-gradient(90deg, #081336 0%, rgba(8, 19, 54, 0) 100%);
}

.theme-style--three.theme-style--dark .wptb-country-marquee-wrapper::after {
    background: linear-gradient(270deg, #081336 0%, rgba(8, 19, 54, 0) 100%);
}

.theme-style--three.theme-style--dark .wptb-icon-box1 .wptb-item--inner {
    background-color: transparent
}

.theme-style--three.theme-style--dark .wptb-nav-feature.wptb-nav-feature-three .wptb-nav-feature-item .wptb-nav-feature-icon {
    background-color: #263368;
}

.theme-style--three.theme-style--dark .wptb-nav-feature .wptb-nav-feature-item .wptb-nav-feature-icon {
    color: #CBD5E1;
}

.theme-style--three.theme-style--dark .wptb-nav-feature .wptb-nav-feature-item:hover .wptb-nav-feature-icon,
.theme-style--three.theme-style--dark .wptb-nav-feature .wptb-nav-feature-item.active .wptb-nav-feature-icon {
    color: var(--color-white);
}

.theme-style--three.theme-style--dark .wptb-nav-feature .wptb-nav-feature-item:hover .wptb-nav-feature-icon svg path,
.theme-style--three.theme-style--dark .wptb-nav-feature .wptb-nav-feature-item.active .wptb-nav-feature-icon svg path {
    stroke: var(--color-white);
}

.theme-style--three.theme-style--dark .wptb-feature-box--feature-inbox {
    background-color: #25305E;
    border: 1px solid rgba(248, 250, 252, 0.1);
    box-shadow: 0px 0px 0px 1px rgba(var(--color-white-rgb), 0.10);
}

.theme-style--three.theme-style--dark .wptb-nav-feature {
    border-right: 1px solid rgba(var(--color-white-rgb), 0.10);
}

.theme-style--three.theme-style--dark .wptb-feature-box--feature-inbox .wptb-nav-feature-image-list li .wptb-nav-feature-image-box {
    background-color: rgba(var(--color-white-rgb), 0.05);
    box-shadow: 0px 3px 20px 20px rgba(13, 5, 5, 0.21);
}

.theme-style--three.theme-style--dark .wptb-nav-feature.wptb-nav-feature-two .wptb-nav-feature-item:hover .wptb-nav-feature-icon,
.theme-style--three.theme-style--dark .wptb-nav-feature.wptb-nav-feature-two .wptb-nav-feature-item.active .wptb-nav-feature-icon {
    color: var(--color-white);
}


/* Theme Style Five */
:root .theme-style--five {
    --link-color: #FFFFFF;
    --link-color-hover: #E5FF5E;
    --link-color-active: #E5FF5E;
}

body.theme-style--five {
    color: var(--color-white);
    background-color: #0C3035;
}

.theme-style--five .wrapper::before {
    content: url('../img/background/bg-21.png');
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.theme-style--five .wptb-heading .wptb-item--title .highlight,
.theme-style--six .wptb-heading .wptb-item--title .highlight {
    color: var(--color-neon);
}

.theme-style--five .wptb-heading .wptb-item--subtitle{
    color: var(--color-white);
    background: #00FFAE;
    background: -webkit-linear-gradient(90deg,rgba(0, 255, 174, 1) 0%, rgba(0, 192, 255, 1) 100%);
    background: -moz-linear-gradient(90deg,rgba(0, 255, 174, 1) 0%, rgba(0, 192, 255, 1) 100%);
    background: linear-gradient(90deg,rgba(0, 255, 174, 1) 0%, rgba(0, 192, 255, 1) 100%);
    position: relative;
}

.theme-style--five .wptb-heading .wptb-item--subtitle span{
    background: #095B4E;
}

.theme-style--six .header.style3 {
    border-bottom: 1px solid rgba(79, 79, 79, 0.16);
}

.theme-style--six .header.style3 .mainnav ul.main-menu li a {
  color: var(--color-dark-green);
}

.theme-style--six .header.style3 .mainnav ul.main-menu li.current > a, .theme-style--six .header.style3 .mainnav ul.main-menu li.active > a, .theme-style--six .header.style3 .mainnav ul.main-menu li:hover > a {
    color: #03868A;
}
  
.theme-style--six .header.style3 .mainnav ul.main-menu > li.menu-item-has-children.current > a::after, .theme-style--six .header.style3 .mainnav ul.main-menu > li.menu-item-has-children.active > a::after, .theme-style--six .header.style3 .mainnav ul.main-menu > li.menu-item-has-children:hover > a::after {
    color: #03868A;
}

.theme-style--six .header.style3 .mainnav ul.main-menu li ul li a {
    color: var(--color-dark-green);
}

.theme-style--six .header.style3.sticky {
    background-color: var(--color-white);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(222, 241, 237, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(222, 241, 237, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(222, 241, 237, 1) 100%);
}

.theme-style--six h1, .theme-style--six h2, .theme-style--six h3, .theme-style--six h4, .theme-style--six h5, .theme-style--six h6,
.theme-style--six .h1, .theme-style--six .h2, .theme-style--six .h3, .theme-style--six .h4, .theme-style--six .h5, .theme-style--six .h6{
    color: var(--color-dark-green);
}

.theme-style--six .wptb-heading .wptb-item--title {
    color: var(--color-dark-green);
}

.theme-style--six .wptb-heading .wptb-item--subtitle {
    color: var(--color-dark-green);
    background: var(--color-neon);
}

.theme-style--six .wptb-heading .wptb-item--subtitle span {
    background: var(--color-neon);
    border: 1px solid #AACE1A;
}

.theme-style--six .wptb-slider.style3 {
    background: transparent;
}

.theme-style--six .wptb-slider.style3 .wptb-heading .wptb-item--title .highlight {
    color: #03868A;
}

.theme-style--six .wptb-slider.style3 .wptb-item--button .btn.green2 {
    background: #174E49;
    background: -webkit-linear-gradient(180deg, rgba(23, 78, 73, 1) 0%, rgba(5, 32, 41, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(23, 78, 73, 1) 0%, rgba(5, 32, 41, 1) 100%);
    background: linear-gradient(180deg, rgba(23, 78, 73, 1) 0%, rgba(5, 32, 41, 1) 100%);
}

.theme-style--six .wptb-slider.style3 .wptb-item--button .btn.transparent {
    color: var(--color-dark-green);
}

.theme-style--six .wptb-features {
    background: #FFFFFF;
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(222, 241, 237, 0.5) 100%);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(222, 241, 237, 0.5) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(222, 241, 237, 0.5) 100%);
}

.theme-style--six .wptb-icon-box3.style3,
.theme-style--six .wptb-icon-box3.style4.alt,
.theme-style--six .wptb-icon-box3.style4 {
    background: var(--color-white);
}

.theme-style--six .wptb-icon-box3.style4.alt {
    backdrop-filter: blur(10);
    box-shadow: 0px 5px 55px 0px rgba(75, 83, 161, 0.15);
}

.theme-style--six .wptb-icon-box3.style3 .wptb-item--description,
.theme-style--six .wptb-icon-box3.style4 .wptb-item--description {
    color: var(--color-muted);
}

.theme-style--six .wptb-icon-box3.style3 .btn,
.theme-style--six .wptb-icon-box3.style4 .btn {
    color: var(--color-dark-green);
}

.theme-style--six .wptb-step__style-2 .wptb-step__feature .wptb-step__feature-item .wptb-step__feature-number {
    color: var(--color-neon);
    background-color: var(--color-dark-green);
}

.theme-style--six .wptb-step__style-2 .wptb-step__feature .wptb-step__feature-item .wptb-step__feature-content .wptb-step__feature-title {
    color: var(--color-dark-green);
}

.theme-style--six .wptb-process-two .wptb-item-layer {
    top: 0;
    right: 0;
}

.theme-style--six .pricetable-two {
    background: #FFFFFF;
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(240, 249, 247, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(240, 249, 247, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(240, 249, 247, 1) 100%);
}

.theme-style--six .wptb-packages1.style2.active {
    background: #DEF2ED;
}

.theme-style--six .wptb-packages1.style2 .wptb-item--inner .wptb-item--term span,
.theme-style--six .wptb-packages1.style2 .wptb-item--package,
.theme-style--six .wptb-packages1.style2 .wptb-item--inner .wptb-item--price,
.theme-style--six .wptb-packages1.style2 .wptb-item--price-note,
.theme-style--six .wptb-packages1.style2.active .wptb-list1 .wptb--item .wptb-item--text,
.theme-style--six .wptb-package-switcher.style2 .toggler .highlight {
    color: var(--color-dark-green);
}

.theme-style--six .wptb-packages1.style2 .wptb-item--price-text {
    color: var(--color-muted);
}

.theme-style--six .wptb-packages1.style2 .wptb-list1 .wptb--item .wptb-item--text,
.theme-style--six .wptb-package-switcher .toggler {
    color: var(--color-muted);
}

.theme-style--six .wptb-package-switcher .toggle {
    background-color: var(--color-dark-green);
}

.theme-style--six .wptb-package-switcher .switch {
    background: var(--color-neon);
}

.theme-style--six .wptb-image-box2.style3 h1, .theme-style--six .wptb-image-box2.style3 h2, .theme-style--six .wptb-image-box2.style3 h3, .theme-style--six .wptb-image-box2.style3 h4, .theme-style--six .wptb-image-box2.style3 h5, .theme-style--six .wptb-image-box2.style3 h6, .theme-style--six .wptb-image-box2.style3 p {
    color: var(--color-white);
}

.theme-style--six .wptb-accordion2 .wptb-item-title {
    color: var(--color-dark-green);
    background-color: transparent;
    border: 1px solid var(--color-dark-green);
}

.theme-style--six .wptb-accordion2 .wptb--item .wptb-item--content {
    color: var(--color-white);
}

.theme-style--six .wptb-testimonial-marquee-wrapper {
    padding: 25px;
}

.theme-style--six .wptb-testimonial2.style5 .wptb-item--inner {
    background-color: var(--color-white);
    backdrop-filter: blur(20px);
    box-shadow: 0px 15px 50px -10px rgba(52, 78, 170, 0.07);
}

.theme-style--six .wptb-testimonial2.style5 .wptb-item--inner::before {
    display: none;
}

.theme-style--six .wptb-testimonial2.style5 .wptb-item--inner .wptb-item--description,
.theme-style--six .wptb-testimonial2 .wptb-item--inner .wptb-item--designation {
    color: var(--color-muted);
}

.theme-style--six .wptb-testimonial2.style5 .wptb-item--inner .wptb-item--title {
    color: var(--color-dark-green);
}


.theme-style--six .wptb-light-bg-wrapper {
    background: #FFFFFF;
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(239, 248, 246, 1) 100%);
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(239, 248, 246, 1) 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(239, 248, 246, 1) 100%);
}