/* Theme Style Dark */
body.theme-style--dark {
    color: var(--color-white);
    background-color: var(--color-dark);
}

.theme-style--dark h1, .theme-style--dark h2, .theme-style--dark h3, .theme-style--dark h4, .theme-style--dark h5, .theme-style--dark h6,
.theme-style--dark .h1, .theme-style--dark .h2, .theme-style--dark .h3, .theme-style--dark .h4, .theme-style--dark .h5, .theme-style--dark .h6{
    color: var(--color-white);
}

.theme-style--dark .wptb-heading .wptb-item--title {
    color: var(--color-white);
}

.theme-style--dark .wptb-heading .wptb-item--subtitle {
    color: var(--color-white);
}


.theme-style--dark .header .mainnav ul.main-menu li ul li a {
    color: var(--color-black);
}

.theme-style--dark .wptb-slider .wptb-heading .wptb-item--description {
    color: var(--color-white);
}


/* Theme Style One */
:root .theme-style--one {
    --link-color:               #181A0F;
    --link-color-hover:         #CDF683;
    --link-color-active:        #CDF683;
}

body.theme-style--one {
    color: var(--color-white);
    background-color: var(--color-light-green);
}

.theme-style--one .wptb-heading .wptb-item--title .highlight {
    color: #7A5AF8;
}

.theme-style--one .wptb-heading .wptb-item--subtitle span {
    color: var(--color-black);
    background-color: var(--color-green);
    position: relative;
}

.theme-style--one .wptb-heading .wptb-item--subtitle::before {
    display: none;
}

.theme-style--one .wptb-item--logo__style-circle,
.theme-style--one .wptb-item--logo__style-circle::before {
    background: none;
}

.theme-style--one .wptb-item--logo__style-circle .wptb-blob__wrap-focus {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.theme-style--one .wptb-imagebox--wrapper .wptb-imagebox--content {
    background-color: rgba(var(--color-white-rgb), 0.38);
    backdrop-filter: blur(20px);
}

.theme-style--one .wptb-image-box2 .wptb-item--inner {
    background: rgba(var(--color-white-rgb), 0.5);
}

.theme-style--one .wptb-funfacts--inner {
    background: var(--color-dark-two);
}

.theme-style--one .wptb-counter2 .wptb-item--icon {
    background-color: var(--color-green);
}

.theme-style--one .wptb-counter2 .wptb-item--icon svg path {
    fill: var(--color-black);
}

.theme-style--one .wptb-icon-box3.style2 .wptb-item--inner::before {
    background: #2B2D24;
}

.theme-style--one .wptb-icon-box3.style2 .wptb-item--inner::after{
    opacity: 0;
}
.theme-style--one .wptb-icon-box3.style2:hover .wptb-item--inner::before {
    opacity: 1;
}
.theme-style--one .wptb-icon-box3.style2:hover .wptb-item--inner::after {
    opacity: 0;
}

.theme-style--one .wptb-icon-box3.style2 .wptb-item--title {
    color: var(--color-white);
}

.theme-style--one .footer.style2 {
    background-color: var(--color-dark-two);
    padding-top: 200px;
}
.theme-style--one .footer.style2 .wptb-item-layer-one {
    left: 220px;
}

.theme-style--one .wptb-newsletter::before, .theme-style--one .wptb-newsletter::after {
    content: url('../img/misc/flare-green-5.svg');
}

.theme-style--one .footer.style2 .effective.full {
    top: -1px;
}


.theme-style--one .effective.full .wptb-item--logo__style-circle .wptb-item--logo__image {
    margin: 0px auto -70px;
    z-index: 2;
}


/* Theme Style Two */
:root .theme-style--two {
    --link-color:               #FFFFFF;
    --link-color-hover:         #1F4CFF;
    --link-color-active:        #1F4CFF;
}


.theme-style--two .wptb-heading .wptb-item--subtitle {
    color: rgba(var(--color-white-rgb), 0.5);
}

.theme-style--two .wptb-country-marquee-wrapper::before {
    width: 17%;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.00) 100%);
}

.theme-style--two .wptb-country-marquee-wrapper::after {
    width: 17%;
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0.00) 100%);
}

.theme-style--two .wptb-text-marquee2 .wptb-item--text {
    display: flex;
    flex-shrink: 0;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 8px 12px 8px 8px;
    border-radius: 99px;
    border: .6px solid rgba(255, 255, 255, 8%);
    background: rgba(255, 255, 255, 4%);
    box-shadow: 0 0 6px rgba(255, 255, 255, .16) inset;
}

/* Theme Style Three */
:root .theme-style--three {
    --link-color:               #FFFFFF;
    --link-color-hover:         #FFFFFF;
    --link-color-active:        #FFFFFF;
}

body.theme-style--three {
    color: var(--color-white);
    background-color: var(--color-dark-three);
}