/* Footer Section  */
.footer {
    position: relative;  
}

.footer.style1 .footer-top {
    position: relative;
    background-color: transparent;
    background-image: linear-gradient(90deg, #6938EF33 0%, #6938EF00 100%);
    padding: 80px 65px;
    border-radius: 6px 0px 0px 6px;
}

.footer.style1 .footer-top::before {
    background-color: var(--color-one);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    border-radius: 6px;
}

.footer .wptb-item--logo img {
    max-height: 32px;
}

.footer ul {
    padding: 0;
    margin-bottom: 0px;
    list-style-type: none;
}

.footer ul li {
    list-style-type: none;
}

.footer ul li a:not(:hover) {
    color: inherit;
}

.footer .widget-title {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.footer .widget-title:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 33px;
    height: 2px;
    background-color: var(--color-two);
    display: none;
}

.footer .footer-nav li {
    position: relative;
    font-size: 15px;
    line-height: 1.2;
    font-weight: var(--fw-normal);
}

.footer .footer-nav li + li {
    margin-top: 16px;
}

.footer .footer-widget.schedule .footer-nav li {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    font-weight: var(--fw-normal);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-widget.schedule .footer-nav li .time {
    color: var(--color-one);
}

.footer .footer-widget.schedule .footer-nav li + li {
    margin-top: 12px;
}

.footer .footer-nav li a {
    position: relative;
    display: inline-flex;
    padding-left: 0px;
    text-decoration: none;
    padding-left: 0px;
}
.footer .footer-nav li a i {
    font-size: 5px;
    margin-right: 10px;
}
.footer .footer-nav li a i.bi-arrow-right {
    font-size: 18px;
}

.footer .footer-nav.left li a i {
    font-size: 17px;
}

.footer .button {
    border-radius: 30px;
    text-transform: capitalize;
}

.footer .wptb-social-box ul {
    gap: 35px;
}

.footer .social-box ul li{
	position:relative;
}

.footer .wptb-social-box ul li a {
	font-size:var(--fs-14);
    font-weight: var(--fw-medium);
}


/* Footer Bottom Part  */
.footer .footer-bottom .footer-bottom-inner {
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 20px 50px;
}

.footer .footer-nav-bottom ul {
    display: flex;
    gap: 10px 40px;
}

.footer .footer-nav-bottom ul li {
    margin-bottom: 0;
}


/* Totop */
.totop {
    position: fixed;
    right: 30px;
    bottom: 22px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-base);
}
.totop.show {
    opacity: 1;
    visibility: visible;
}

.totop a {
    width: 54px;
    height: 54px;
    background: var(--color-one);
    color: var(--color-white);
    display: inline-block;
    text-align: center;
    line-height: 54px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px var(--color-one);
}


/* Footer style 2 */
.footer.style2 {
    background-color: var(--color-dark);
}
.footer.style2 .footer-inner {
    position: relative;
    border-radius: 16px 16px 16px 16px;
    padding-top: 50px;
}

.footer.style2 .footer-top {
    position: relative;
}

.footer.style2 .footer-bottom {
    border-top: 1px solid rgba(var(--color-white-rgb), 0.1);
    padding: 70px 0px;
    margin-top: 110px;
}

.footer.style2 .copyright {
    color: rgba(var(--color-white-rgb), 0.5);
}

.footer.style2 ul li a:not(:hover) {
    color: rgba(var(--color-white-rgb), 0.5);
}

.footer.style2 .wptb-item-layer-one {
    left: -100px;
    top: auto;
    bottom: -290px;
}

.footer.style2 .wptb-item-layer-two {
    left: -200px;
    bottom: 190px;
}

.footer.style2 .wptb-heading .wptb-item--description {
    color: rgba(var(--color-white-rgb), 0.5);
    font-size: 17px;
    line-height: 23px;
    font-weight: var(--fw-medium);
    margin-top: 20px;
}

.footer-divider {
    max-width: 100%;
}

/* Footer style 3 */
.footer.style3 .footer-inner {
    position: relative;
    padding-top: 0px;
}

.footer.style3 .footer-top {
    position: relative;
}


.footer.style3 .widget-title {
    color: var(--color-white);
}

.footer.style3 ul li a:not(:hover) {
    color: rgba(var(--color-white-rgb), 0.45);
}

.footer.style3 .footer-bottom {
    border-top: 1px solid rgba(var(--color-white-rgb), 0.1);
    padding: 80px 0px;
    padding-bottom: 200px;
    margin-top: 110px;
}

.footer.style3 .copyright {
    color: rgba(var(--color-white-rgb), 0.55);
}

.footer.style3 .copyright a {
    color: rgba(var(--color-white-rgb), 0.85);
}

.footer.style3 .logo-description {
    color: #AAC5FF;
    font-family: var(--font-family-heading);
    font-size: 22px;
    line-height: 27px;
    margin-top: 40px;
}

.footer.style3 .footer-nav li + li {
    margin-top: 22px;
}

.footer.style3 .wptb-social-box {
    margin-top: 40px;
}

.footer.style3 .wptb-social-box ul {
    gap: 8px;
}

.footer.style3 .wptb-social-box ul li a {
    color: var(--color-white);
    font-size: var(--fs-18);
    font-weight: var(--fw-medium);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-white);
    border-radius: 100%;
}

.footer.style3 .wptb-banner {
    padding: 140px 100px 110px;
    border-radius: 16px;
    margin-bottom: 145px;
}

.footer.style3 .wptb-list1 {
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 20px 50px;
}

.footer.style3 .wptb-list1 .wptb--item + .wptb--item {
    margin-top: 0px;
}

.footer.style3 .wptb-list1 .wptb--item .wptb-item--text {
    font-family: var(--font-family-heading);
    font-size: 18px;
    font-weight: var(--fw-medium);
}

.footer.style3 .wptb-banner.wptb-heading .wptb-item--title {
    color: var(--color-white);
    line-height: 1;
}


/* Footer style 4 */
.footer.style4 .footer-inner {
    background: #0C3035;
    background: linear-gradient(180deg,rgba(12, 48, 53, 1) 20%, rgba(2, 22, 35, 1) 80%);
    position: relative;
}

.footer.style4 .footer-top {
    position: relative;
    border-top: 1px solid rgba(var(--color-white-rgb), 0.1);
    padding-top: 70px;
    padding-bottom: 90px;
    margin-top: 15px;
}

.footer.style4 .footer-top::before {
    content: '';
    position: absolute;
    left: 40%;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color:  rgba(var(--color-white-rgb), 0.1);
}

.footer.style4 .widget-title {
    color: var(--color-white);
}

.footer.style4 ul li a:not(:hover) {
    color: rgba(var(--color-white-rgb), 0.45);
}

.footer.style4 .logo-description {
    color: rgba(var(--color-white-rgb), 0.55);
    font-size: 15px;
    line-height: 26px;
    margin-top: 15px;
}

.footer.style4 .footer-text {
    font-size: 15px;
    line-height: 26px;
}


.footer.style4 .wptb-newsletter {
    background: transparent;
}

.footer.style4 .wptb-newsletter::before, .footer.style4 .wptb-newsletter::after {
    display: none;
}

.footer.style4 .wptb-newsletter .wptb-newsletter--inner {
    padding: 0px 0px;
}

.footer.style4 .wptb-newsletter .wptb-heading {
    margin-bottom: 20px;
}

.footer.style4 .wptb-newsletter .wptb-heading .wptb-item--description {
    color: var(--color-white);
}

.footer.style4 .footer-bottom {
    border-top: 1px solid rgba(var(--color-white-rgb), 0.1);
    padding: 35px 0px;
}

.footer.style4 .footer-bottom .footer-bottom-inner {
    justify-content: center;
}

.footer.style4 .copyright {
    color: rgba(var(--color-white-rgb), 0.55);
}

.footer.style4 .copyright a {
    color: rgba(var(--color-white-rgb), 0.85);
}

.footer.style4 .footer-nav li + li {
    margin-top: 22px;
}

.footer.style4 .wptb-social-box {
    margin-top: 40px;
}

.footer.style4 .wptb-social-box ul {
    gap: 8px;
}

.footer.style4 .wptb-social-box ul li a {
    background-color: #0C4651;
    color: var(--color-white);
    font-size: var(--fs-18);
    font-weight: var(--fw-medium);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0C4651;
    border-radius: 100%;
}
