@media screen and (min-width: 1500px) {

}

@media screen and (max-width: 1400px) {
    .wptb-slider .wptb-heading .wptb-item--title {
        font-size: calc(2.4rem + 3vw);
        line-height: calc(2.4rem + 3vw);
    }

    .wptb-heading .wptb-item--title {
        font-size: calc(1.5rem + 3vw);
        line-height: calc(1.5rem + 3vw);
    }
    
    .wptb-heading.lg .wptb-item--title {
        font-size: calc(2rem + 3vw);
        line-height: calc(2rem + 3vw);
    }

    .wptb-image-box2 .wptb-item--inner .wptb-item--title {
        font-size: calc(1.2rem + 2vw);
        line-height: calc(1.2rem + 2vw);
    }
}

@media screen and (max-width: 1199px) {
    .wptb-slider {
        padding-top: 70px;
    }

    .wptb-image-box2.alt .wptb-item--inner,
    .wptb-image-box2 .wptb-item--inner {
        flex-direction: column;
    }

    .wptb-image-box2 .wptb-item--image {
        width: 100%;
    }

    .footer .footer-bottom .footer-bottom-inner {
        justify-content: center;
    }
}

@media screen and (max-width:991px) {
    br {
        display: none;
    }
    
    .wptb-item--logo__style-circle .wptb-item--logo__image {
        margin-top: 70px;
    }

    .wptb-image-box2 .wptb-item--image {
        width: 100%;
        height: 300px;
    }

    .wptb-working-process {
        padding: 0px 15px;
    }

    .wptb-working-process .wptb-working-process--inner {
        padding: 115px 15px 300px;
    }

    .wptb-funfacts--inner {
        padding: 50px 50px;
    }

    .wptb-funfacts--wrapper svg.left-set-objects,
    .wptb-funfacts--wrapper svg.right-set-objects {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .wptb-counter2 .wptb-item--icon {
        width: 70px;
        height: 70px;
    }

    .wptb-counter2 .wptb-item--icon svg {
        height: 36px;
    }

    .wptb-counter2 .wptb-item--value {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 5px;
    }

    .wptb-feature-box.wptb-feature-box--style-1 .wptb-feature-box--top,
    .wptb-feature-box.wptb-feature-box--style-3 .wptb-feature-box--top {
        text-align: center;
    }

}

@media screen and (max-width: 650px) {
    
}

@media screen and (max-width: 575px) {

}

@media screen and (max-width: 450px) {
    .wptb-counter2 .wptb-item--inner {
        flex-direction: column;
        text-align: center;
    }
}